* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGION UTILITY*/

.container {
    width: 80%;
    max-width: 1176px;
    margin: auto;
}

body {
    background: linear-gradient(to top, #d2dadd, #dddbd1 85%, #009789 20%, #009789 75%);
    height: 100vh;
}

/*REGION HEADER*/

.infobar{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

/*DEBUG HEADER*/

.debug .infobar-left{
    background-color: aqua;
    flex-grow: 1;
    height: 70px;
}

.debug .infobar-right{
    background-color: aquamarine;
    flex-grow: 2;
    height: 70px;
}

/*END REGION DEBUG HEADER*/
/*END REGION HEADER*/


/*REGION MAIN*/

.chat-body{
    display: flex;
    flex-direction: row;
}

.container-left{
    flex-grow: 1;
}

.container-right{
    flex-grow: 2;
}

/*DEBUG MAIN*/
.debug .info-notification{
    background-color: lightpink;
    height:80px;
}

.debug .search{
    background-color: lightsalmon;
    height:60px; 
}

.debug .contacts{
    background-color: lightcoral;
    height: 400px;
}

.debug .chat{
    background-color: burlywood;
    height: 460px;
}

.debug .typingzone{
    background-color: brown;
    height: 80px;
}
/*END REGION DEBUG MAIN*/

/*END REGION MAIN*/



/*RESPONSIVE*/

@media screen and (max-width: 991px) {

    .left{
        flex-grow:0;
        display: block;
        width:85px;
    }

}

@media screen and (max-width: 540px) {}