* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGION UTILITY*/

:root {
    --bz-bar: #E8E9EA;
    --bz-notification: #8edbfd;
    --bz-chat-sender: #d4f9bb;
    --bz-chat-addres: #fefffe;
    --bz-icon-bar: #b1b0b0;
    --bz-bell-back: #f2fafe;
}

.container {
    width: 80%;
    height: 90vh;
    max-width: 1176px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;


}

body {
    background: linear-gradient(to top, #d2dadd, #dddbd1 85%, #009789 20%, #009789 75%);
    height: 100vh;
    background-repeat: no-repeat;
}





/*RESPONSIVE*/

@media screen and (max-width: 991px) {


}

@media screen and (max-width: 540px) {
    