* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGION UTILITY*/

:root{
    --bz-bar: #E8E9EA;
    --bz-notification:#8edbfd;
    --bz-chat-sender:#d4f9bb;
    --bz-chat-addres:#fefffe;
    --bz-icon-bar:#b1b0b0;
    --bz-bell-back:#f2fafe;
}

.container {
    width: 80%;
    max-width: 1176px;
    margin: auto;
}

body {
    background: linear-gradient(to top, #d2dadd, #dddbd1 85%, #009789 20%, #009789 75%);
    height: 100vh;
    background-repeat: no-repeat;
}

.contact-photo{
    display: block;
    border-radius: 50%;
    height: 50px;
}

.fa-solid{
    color: var(--bz-icon-bar);
    padding:5px;
    font-size: large;
}

/*REGION HEADER*/

.infobar{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bz-bar);
}

.infobar-left,.infobar-right{
    border-right: 1px solid var(--bz-icon-bar);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infobar-left{
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.infobar-right{
    flex-grow: 2;
    padding-right:10px;
}

.info-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding:20px;
    position: relative;
}

.photo-1{
    display: block;
    width: 50px;
}


/*DEBUG HEADER

.debug .infobar-left{
    
    flex-grow: 1;
    height: 70px;
}

.debug .infobar-right{
  
    flex-grow: 2;
    height: 70px;
}
END REGION DEBUG HEADER*/

/*END REGION HEADER*/


/*REGION MAIN*/

.chat-body{
    display: flex;
    flex-direction: row;
}

.container-left{
    flex-grow: 1;
    height: 90vh;
    margin: auto;
}

.container-right{
    flex-grow: 2;
    height: 90vh;
    margin: auto;
}

.contacts, .chat{
    overflow-y: scroll;
}

.info-notification{
    background-color: var(--bz-notification);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:20px;
}

.fa-bell-slash{
    color: var(--bz-notification);
    background-color: var(--bz-bell-back);
    padding:15px 13px;
    border-radius: 50%;
    font-size: 20px;
    margin-left: -10px;
    margin-right: 10px;
}

/*END REGION NOTIFICATION*/

.container-search{
    background-color: var(--bz-bar);
}

.search{
    padding:10px
}

.search-button, .tiping-search{
    padding:10px 10px;
    border: none;
    background-color: var(--bz-bell-back);

}

.tiping-search{
    margin-left:0;
}
/*END REGION SEARCH*/

.chat-contact{
    background-color: var(--bz-bell-back);
}

.last-message-time{
    font-size: small;
    position: absolute;
    top:15px;
    right: 15px;

}

/*DEBUG MAIN
.debug .info-notification{
    background-color: lightpink;
    height:80px;
}

.debug .search{
    background-color: lightsalmon;
    height:60px; 
}

.debug .contacts{
    background-color: lightcoral;
    height: 400px;
}*/

.debug .chat{
    background-color: burlywood;
    height: 460px;
    position:relative;
}

.debug .typingzone{
    background-color: brown;
    height: 80px;
}

.debug .sender{
    background-color: crimson;
    width: 65%;
    height: 90px;
    position: absolute;
    top:20px;
    right: 20px;
}

.debug .addresses{
    background-color: chocolate;
    width: 65%;
    height: 90px;
    position: absolute;
    top:150px;
    left: 20px;
}

/*END REGION DEBUG MAIN*/

/*END REGION MAIN*/



/*RESPONSIVE*/

@media screen and (max-width: 991px) {


    .left{
        flex-grow:0;
        display: block;
        width:80px;
    }

    .debug .infobar-left{
        flex-grow: 0;
    }
  
    .icon-bar-left{
        display: none;
    }

    .contact-photo{
        margin: auto;
    }

    .info-notification{
        display: none;
    }

    .search{
        display: none;
    }
    

}

@media screen and (max-width: 540px) {
    .left{
        display: none;
    }
}